<div class="detalle-proyecto-container">

<!-- Por cada proyecto un repositorio en GitHub con el README.MD y archivos adicionales. -->

  <div class="detalle">
    @if (detalleProyecto)
    {
      <div class="contenido">

        <h1 style="text-align: center;">{{ detalleProyecto.tituloDetalle }}</h1>

        <div class="descripcionCompleta">
          <h3>Contexto del negocio</h3>
          <p>{{ detalleProyecto.descripcionCompleta  }}</p>


        </div>

        <div class="problema">
            <h3>Problema</h3>
            <p>{{ detalleProyecto.problema }}</p>
        </div>

        <div class="indicadoresClave">
          <h3>Indicadores clave detectados</h3>
          <ul>
            @for (indicador of detalleProyecto.indicadoresClave; track $index)
            {
              <li>{{ indicador }}</li>
            }
          </ul>
        </div>

        <div class="interpretacionResultados">
          <h3>Insights</h3>
          <!-- <ul>
            @for (interpretacion of detalleProyecto.insights; track $index)
            {
            <li>
              <strong>{{ interpretacion.titulo }}</strong>
              <ul>
                <li><strong>Insight:</strong> {{ interpretacion.insight }}</li>
                <li><strong>Por qué es importante:</strong>{{ interpretacion.porqueEsImportante }}</li>
                <li><strong>Acción recomendada:</strong> {{ interpretacion.accion }}</li>
              </ul>
            </li>
            }
          </ul> -->
          @for (interpretacion of detalleProyecto.insights; track $index)
          {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="font-weight: bold; background-color: #f0f0f0; padding: 10px; border-radius: 5px;">{{ $index + 1 }}. {{ interpretacion.insight }}</mat-panel-title>
              <!-- <mat-panel-description>{{ interpretacion.titulo }}</mat-panel-description> -->
            </mat-expansion-panel-header>
            <p>{{ interpretacion.porqueEsImportante }}</p>
            <p><i>Recomendación:</i> {{ interpretacion.accion }}</p>
          </mat-expansion-panel>
          <br>
          }

        </div>

        <!-- <div class="recomendaciones">
          <h3>Resumen de posibles acciones</h3>
          <ul>
            @for (recomendacion of detalleProyecto.recomendaciones; track $index)
            {
            <li>{{ recomendacion }}</li>
            }
          </ul>
        </div> -->

        @if (detalleProyecto.imagenesDetalle.length > 0)
        {
        <div class="imagenesDetalle">
          <h3>Visualización en Power BI</h3>
          <div style="display: flex; flex-direction: column; align-items: center; row-gap: 10px;">
            @for (imagen of detalleProyecto.imagenesDetalle; track $index)
            {
            <img
              [src]="imagen"
              alt="Imagen del proyecto"
              class="imagen-responsive"
            />
            }
          </div>

          <div class="enlaceExternoProyecto">
            <!-- <h3>Enlace Power BI Service</h3> -->
            <a [href]="detalleProyecto.enlaceExternoProyecto" target="_blank"><button type="button" class="btn-ver-detalle">Ver tablero completo en Power BI</button></a>
          </div>
        </div>
      }
      @else {
          <p>No hay imágenes disponibles</p>
      }

        <br>

        <div class="referencias">
          <h3>Referencias</h3>
          @if (detalleProyecto.referencias) {
          <ul>
            @for (referencia of detalleProyecto.referencias; track $index)
            {
              <li>{{ referencia }}</li>
            }
          </ul>
          } @else {
            <p>No hay referencias disponibles</p>
          }
        </div>

        @if (detalleProyecto.tecnologias?.length) {
          <div class="tecnologias" style="width: 100%; background-color: white;">
            <!-- <h3>Tecnologías Utilizadas</h3> -->
            <div class="tecnologias-imagenes-container">
              @for (tecnologia of detalleProyecto.tecnologias; track $index) {
                @if (tecnologia.imagen) {
                  <img
                    [src]="tecnologia.imagen"
                    [alt]="tecnologia.nombre"
                    class="tecnologia-imagen"
                    loading="lazy"
                  />
                }
              }
            </div>
          </div>
        }



        <!-- ADICIONALES -->
        <div class="adicionales" style="display:none">

        <h1 style="font-style: italic;">Adicionales</h1>

        <div class="procesoETL">
          <h3>Proceso ETL (Extracción, Transformación y Carga) con:</h3>
          <h3>CSV</h3>
          <p>Archivo CSV.XLSX.SQL en GitHub: xxxxxxx o en OneDrive (el mismo utilizado en Power BI)</p>
          <h3>Python</h3>
          <p>Jupiter Notebook en GitHub: xxxxxxx</p>
          <p>Base de datos en SQL Server Azure, SQLLite, Postgres: xxxxxxx</p>
        </div>

        <hr>

        <div class="tendenciasMachineLearningPython">
          <h3>Tendencias - Machine Learning - con Python</h3>
          <p>"¿Qué productos tendrán mayor demanda en los próximos meses?"</p>
          <ol>
            <li>Series temporales:</li>
            <li>Regresión:</li>
            <li>Clustering:</li>
          </ol>
          <p>Jupiter Notebook en GitHub: xxxxxxx</p>
        </div>

      </div> <!-- fin adicionales -->

      <!-- <h1>Recordar actualizar el README.md en GitHub</h1> -->

      </div> <!-- fin contenido -->
    } @else {
      <p>No se encontró el ID del proyecto</p>
    }
  </div>

  <br>

  <div>
    <!-- <button (click)="volver()"><< Volver</button> -->
    <button class="btn-ver-detalle" (click)="volver()"><< Volver</button>
  </div>

</div>
