name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Se ejecuta cuando haces push a main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar el código del repositorio
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Configurar Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      # 3. Instalar dependencias
      - name: Install dependencies
        run: npm ci

      # 4. Build de la aplicación Angular
      - name: Build Angular app
        run: npm run build -- --configuration production --base-href=/portafoliositioweb/

      # 5. Configurar GitHub Pages
      - name: Setup Pages
        uses: actions/configure-pages@v4

      # 6. Subir los archivos compilados
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'dist/portafolio/browser'

      # 7. Desplegar en GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

        # uses: peaceiris/actions-gh-pages@v4
        # with:
        #   github_token: ${{ secrets.GITHUB_TOKEN }}
        #   publish_dir: dist/portafolio/browser
